#intro{
    text-align: center;
    padding-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Zilla Slab Highlight', cursive;
}






/* margin-top: 60px;
background-image: url(../images/bb5d958477c12732bb2a9723a32e0b1f.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 600px; */